<a href="https://colab.research.google.com/github/anilmeena009/Anil-Meena.py/blob/main/revesion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(15,46):
  if (i%2==0):
    print(i,end=" ")
print(" ")

16 18 20 22 24 26 28 30 32 34 36 38 40 42 44

In [ ]:
for i in range(98,47,-1):
  if(i%2==0 and i%7==0):
    print(i,end=" ")
  # else:
  #   print("number is not divisible")

98 84 70 56

In [ ]:
# 3,17 both are divisibal by 4
sum=0
for i in range (3,27):
  if(i%4==0):
    sum=sum+i
    print(i)
print("sum is==>",sum)

4
8
12
16
20
24
sum is==> 84

In [ ]:
num=7
count=0
for i in range(1,8):
  if(num%i==0):
    print(i)
    count+=1
print("count is ==>",count)

1
7
count is ==> 2

In [ ]:
s="anil"
for i in s:
  if "a" in i:
    print("it,s correct")
  print(i)

it,s correct
a
n
i
l

In [ ]:
s="anil"
for i in range(0,4):
  print(i,s[i])

0 a
1 n
2 i
3 l

In [ ]:
s="anil"
for i in range(0,4):
  if (s[i]=="a" or s[i]=="i"):
      print(s[i])

a
i

In [1]:
for i in range(1,5):
  for j in range(1,5):
    print("*",end=" ")
  print(" ")

* * * *
* * * *
* * * *
* * * *

In [4]:
for i in range(1,5):
  for j in range(1,5):
    print(j,end=" ")
  print(" ")

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [9]:
for i in range(1,4):
  for j in range(1,4):
    print(i,end=" ")
  print(" ")

1 1 1
2 2 2
3 3 3

In [19]:
for i in range(3,0,-1):
  for j in range(1,5):
    print(i,end=" ")
  print(" ")


print("  OR")

k=3
for i in range(1,4):
  for j in range(1,5):
    print(k,end=" ")
  k-=1
  print(" ")

3 3 3 3
2 2 2 2
1 1 1 1
  OR
3 3 3 3
2 2 2 2
1 1 1 1

In [23]:

for i in range(1,4):
  for j in range(2,5):
    print(j,end=" ")
  print(" ")

2 3 4
2 3 4
2 3 4

In [28]:
x=1
for i in range(1,4):
  for j in range(1,4):
    print(x,end=" ")
    x+=1
  print(" ")

1 2 3
4 5 6
7 8 9

In [31]:
x=9
for i in range(1,4):
  for j in range(1,4):
    print(x,end=" ")
    x-=1
  print(" ")

9 8 7
6 5 4
3 2 1

In [12]:
for i in range(1,6):
  for j in range(0,i):
    print("*",end=" ")
  # i+=1
  print(" ")

*
* *
* * *
* * * *
* * * * *

In [33]:
for i in range(1,5):
  for j in range(1,i+1):
    print("5",end=" ")
  print(" ")

5
5 5
5 5 5
5 5 5 5

In [35]:
for i in range(1,4):
  for j in range(1,i+1):
    print(j,end=" ")
  print(" ")

1
1 2
1 2 3

In [51]:
x=7
for i in range(1,4):
  for j in range(1,i+1):
    print(x,end=" ")
    x-=1
  print(" ")

7
6 5
4 3 2

In [55]:
x=7
for i in range(1,5):
  for j in range(1,i+1):
    print(x,end=" ")
  x-=1
  print(" ")

7
6 6
5 5 5
4 4 4 4