In [2]:
# set in python
# (1).Identification ={}
# (2). Mutable data type--> We can change and update values at a run time.
# (3). unordered ,Unindexed and its contains only unique values.

a={1,2,3,1,1,1,2}
a

{1, 2, 3}

In [6]:
a.add(45)
a

{1, 2, 3, 45}

In [11]:
a={1,2,3,1,1,1,2}
a.remove(2)
a

{1, 3}

In [13]:
# for in sets
a={1,2,73}
for i in a:
    print(i)

73
2
1

In [15]:
a={1,2,3,4}
b={3,4,5,6}
c=a.union(b)
c

{1, 2, 3, 4, 5, 6}

In [17]:
d=a|b
d

{1, 2, 3, 4, 5, 6}

In [19]:
# intersection
a={1,2,3,4}
b={3,4,5,6}
c=a.intersection(b)
c

{3, 4}

In [22]:
d=a&b
d

{3, 4}

In [24]:
a-b #it will return only set a values removing elements

{1, 2}

In [26]:
b-a #it will return only set a values removing elements

{5, 6}

In [28]:
a={1,2,3,4}
a.clear()
a

set()

In [29]:
# given a list of number ,remove all duplicates values and return the uniqe elements
a=[]
size=int(input("enter the size:"))
for i in range(size):
    val=int(input("enter  items:"))
    a.append(val)
print(a)
b=set(a)
print(b)

enter the size: 4
enter  items: 1
enter  items: 2
enter  items: 3
enter  items: 1

[1, 2, 3, 1]
{1, 2, 3}

In [30]:
# given two set find the commen elements between them.
a={1,2,3,4}
b={3,4,5,6}
a.intersection(b)

{3, 4}

In [32]:
# given two set find elements that are unique to each.
a={1,2,3,4}
b={3,4,5,6}
a^b

{1, 2, 5, 6}

In [33]:
# # given two set find elements that are unique in set of a.
a={1,2,3,4}
b={3,4,5,6}
a-b

{1, 2}

In [34]:
a.difference(b)

{1, 2}

In [37]:
# given two set ,check if the first set is a subset of the second
a={1,2,3,4}
b={1,2}
a.issubset(b)

False

In [38]:
# given two set ,check if the a set is a subset of b
a={1,2,3,4}
b={1,2}
b.issubset(a)

True

In [44]:
a={1,2,3,4}
b={3,4,5,6}
c={5,6,7,8}
d=a.union(b)
print(d)
e=d.union(c)
print(e)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}