<a href="https://colab.research.google.com/github/anilmeena009/Anil-Meena.py/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# tuple is immutable

<class 'tuple'>

In [ ]:
tup=(10,20,30,40)
print(type(tup))

In [ ]:
mytuple=(10,20,30,10,10)
mytuple.count(10)

In [ ]:
# dictionary
# data type
# key and value
# time complexity
# [10,20,30,40] =>[10,abc,20,30,40]
# O(n)
# dictionary=>no index
# key:value
# value=> unique/duplicate
# ordered collection of element

In [ ]:
mydictionary={2:"anil",4:"dinesh"}
print(mydictionary)

{2: 'anil', 4: 'dinesh'}

In [ ]:
mydictionary={2:"anil",4:"dinesh"}
mydictionary[2]

'anil'

In [ ]:
mydictionary={2:"anil",4:"dinesh"}
mydictionary[2]="anilmeena"
print(mydictionary)

{2: 'anilmeena', 4: 'dinesh'}

In [ ]:
mydictionary={2:"anil",4:"dinesh"}
mydictionary[10]="anilmeena"  #insert the value for key 10
print(mydictionary)

{2: 'anil', 4: 'dinesh', 10: 'anilmeena'}

In [ ]:
mydictionary={2:"anil",4:"dinesh","salary":80}
mydictionary["salary"]=mydictionary["salary"]+5
print(mydictionary["salary"])
print(mydictionary)

85
{2: 'anil', 4: 'dinesh', 'salary': 85}

In [ ]:
mydictionary={2:"anil",4:"dinesh","salary":80}
print(mydictionary.keys())  #for only keys
print(mydictionary.values())#for only values
print(mydictionary.items())#key and value both in form of tuple

dict_keys([2, 4, 'salary'])
dict_values(['anil', 'dinesh', 80])
dict_items([(2, 'anil'), (4, 'dinesh'), ('salary', 80)])

In [ ]:
mydictionary={2:"anil",4:"dinesh","salary":80}
for i in mydictionary.keys():
  print(i,mydictionary[i])

2 anil
4 dinesh
salary 80

In [ ]:
s="hey"
dictionary={}#dict[key]=value
for i in s:
  dictionary[i]=1
print(dictionary)

{'h': 1, 'e': 1, 'y': 1}

In [ ]:
s="helllo hey"
dictionary1={}
total=0
for i in s:
#  dictionary1[i]=1
 total+=1
dictionary1["total"]=total
print(dictionary1)

{} 10

In [ ]:
s="regex a"
dictionary2={}
vowel=0
for i in s:
  if i in "aeiou":
print(dictionary2)

In [ ]:
s="hey hello abhi"
dictionary3={}
for i in s:
  if i in 'aeiou':
    if i not in dictionary3:
      mydictionary[i]=1
    else:
      dictionary3[i]=dictionary3[i]+1

print(dictionary3)

{}