<a href="https://colab.research.google.com/github/anilmeena009/Anil-Meena.py/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age=int(input("enter the number "))
if(age>9):
  print("my age is ",age)
else:
  print("invalide age")

enter the number 9
invalide age

In [ ]:
age=int(input("enter the number "))
if age in range(18,20):
  print("my age is 18 and 19")
else:
  print("condition is not match")

enter the number 25
condition is not match

In [ ]:
age=int(input("enter the number "))
if age in range(10,19):
  print("my age is correct")
else:
  print("condition is not match")

enter the number 10
my age is correct

In [ ]:
a=90
b=40
c=30
if(a>b and a>c):
  print("greatest number is a")
elif(b>a and b>c):
  print(" greatest number is b" )
else:
  print("greatest number is c")

greatest number is a

In [ ]:
a=90
b=40
c=50
if(a<b and a<c):
  print("smallest number is a")
elif(b<a and b<c):
  print(" smallest number is b" )
else:
  print("smallest number is c")

 smallest number is b

In [ ]:
num=20
if(num%2==0):
  print("number is divided by 2")
elif(num%3==0):
  print("number is divided by 3")
elif(num%6==0):
  print("number is divided by 6")
else:
  print("number is not divide")

number is divided by 2

In [ ]:
num=int(input("enter the number "))
if(num%2==0 and num%3==0):
  print("number is divisible by 6")
else:
  print("number is not divisible")

enter the number 14
number is not divisible

In [ ]:
age=int(input("enter the number "))
if age<18:
  print("age is mature")
elif age<30:
  print("age is young")
elif age<50:
  print("age is old")
else:
  print("yes")

enter the number 17
age is mature

In [ ]:
age=int(input("enter the age"))
if(age>2):
  print("age is grater then 2")
  if(age==10):
    print("age is equal to 10")
  else:
    print("age is not equal to 10")
else:
  print("age is less then 2")

age is grater then 2
age is not equal to 10

In [ ]:
num=int(input("enter the number"))
if(num%2==0):
  print("number is even")
else:
        print("number is odd")

enter the number13
number is odd

In [ ]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
if(a>b and a>c):
  print("largest number is a")
elif(b>a and b>c):
  print("largest number is b")
else:
  print("largest number is c")

enter the first number10
enter the second number10
enter the third number10
largest number is c

In [ ]:
year=int(input("enter the year==>"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("year is leap year")
else:
    print("year is not leap year")

enter the year==>2448
year is leap year

In [ ]:
letter=input("enter the letter==>")
if letter in ('a','e','i','o','u'):
  print("letter is vowel")
else:
  print("letter is consonant")

enter the letter==>w
letter is consonant

In [ ]:
op=input("enter te operator")
a=float(input("enter first number=>"))
b=float(input("enter second numbre=>"))

if(op=="+"):
  print(a+b)
elif(op=="-"):
  print(a-b)
elif(op=="*"):
  print(a*b)
elif(op=="/"):
  if(b!=0):
    print(a/b)
else:
  print("invalid operator")

enter te operator*
enter first number=>4
enter second numbre=>4
16.0

In [ ]:
day_num = int(input("Enter a number=>"))
if day_num in range(1,8):

  if day_num == 1:
    print("Monday")
  elif day_num == 2:
    print("Tuesday")
  elif day_num == 3:
    print("Wednesday")
  elif day_num == 4:
    print("Thursday")
  elif day_num == 5:
    print("Friday")
  elif day_num == 6:
    print("Saturday")
  elif day_num == 7:
    print("Sunday")
else:
  print("Invalid input")

Enter a number=>7
Sunday

In [ ]:
n=int(input("enter the number==>"))
i=1
while(n>=i):
  print(n)
  n-=1

enter the number==>10
10
9
8
7
6
5
4
3
2
1

In [ ]:
ch=input("enter the character")
while(ch<='z'):
  print(ch,end=' ')
  ch=chr(ord(ch)+1)

enter the characterw
w x y z

In [ ]:
num=int(input("enter the number"))
count=0
while(num>=1):
  if(num%2==0):
    count=count+1
    print(num,end=' ')
  num-=1
print("total even number is",count)

enter the number100
total even number is 50

In [ ]:
n=int(input("enter the number of digits"))
count=0
while(n>=1):
  count=count+1
  n=n//10
print("total number of digits are",count)

enter the number of digits12354
total number of digits are 5

In [ ]:
for i in range (1,5):
  print("student",i)
  for j in range (1,6-i):
    print("subject check",j)

student 1
subject check 1
subject check 2
subject check 3
subject check 4
student 2
subject check 1
subject check 2
subject check 3
student 3
subject check 1
subject check 2
student 4
subject check 1

In [ ]:
num=4
for i in range (1,11):
   print(i*4)

4
8
12
16
20
24
28
32
36
40

In [ ]:
num=int(input("enter the number"))
a=0
for i in range(2,num):
  if(num%2==0):
    a=1
    break
if(a==0):
    print("prime",num)
else:
    print("not prime",num)

enter the number47
prime 47

In [ ]:
for num in range (400,450):
  total=0
  original=num
  while(num>0):
    rem1=num%10
    num=num//10
    total=total+rem1
  print("total ",original,total)

total  400 4
total  401 5
total  402 6
total  403 7
total  404 8
total  405 9
total  406 10
total  407 11
total  408 12
total  409 13
total  410 5
total  411 6
total  412 7
total  413 8
total  414 9
total  415 10
total  416 11
total  417 12
total  418 13
total  419 14
total  420 6
total  421 7
total  422 8
total  423 9
total  424 10
total  425 11
total  426 12
total  427 13
total  428 14
total  429 15
total  430 7
total  431 8
total  432 9
total  433 10
total  434 11
total  435 12
total  436 13
total  437 14
total  438 15
total  439 16
total  440 8
total  441 9
total  442 10
total  443 11
total  444 12
total  445 13
total  446 14
total  447 15
total  448 16
total  449 17

In [ ]:
for num in range(150,401):
  original=num
  total=0
while(num>0):
      rem1=num%10
      num=num//10
      total=total+rem1**3
if(original==total):
    print("armstrong number")
else:
    print("not armstrong number")

not armstrong number

In [ ]:
i=1
while(i<=20):
  if(i%2==0):
    print("number is even",i)
  i+=1

number is even 2
number is even 4
number is even 6
number is even 8
number is even 10
number is even 12
number is even 14
number is even 16
number is even 18
number is even 20