In [1]:
# Introduction to Python ---->


# Fundamentals of Python
# (1). Data type
# (2). Variable
# (3). input() & print()

In [2]:
# (1). Data type
# (a). Integer  ----> 34 , -56
# (b).Float  ----> 34.89
# (c). String  ---> 'sam' , "sam" , '''sam'''
# (d). Boolean ----> True , False

In [3]:
# type() ---> Using this method , we can check data type of element .

In [4]:
type(56)

int

In [5]:
type(78.24)

float

In [6]:
type('sam')

str

In [7]:
type(5>4)

bool

In [8]:
# Variable ---> This is a container in which we can store our values .
a = 56
b = 'sam'
### a,b = variable

# Type of Variable
# (1). Global Variable
# (2). Local Variable

In [9]:
# input() ---> This is a predefiend function in python that will take our query and return the output
# in string format .

In [10]:
a = '12'
b = '34'
c = a + b
c

'1234'

In [11]:
a = input("Enter first number:")
b = input("Enter second number:")
c = a + b
c

Enter first number:12
Enter second number:34

'1234'

In [12]:
# type-casting ----> We can change or update one data type to another data type .

In [15]:
a = 56
print(type(a))
b = float(a)
print(type(b))
c = str(b)
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [16]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = a + b
c

Enter first number:12
Enter second number:34

46

In [17]:
# print() ----> This will execute the query on terminal .

In [20]:
# Most common used operators in python

# (1). Add(+) -----> 5+4 = 9
# (2). Substract(-) ---> 5-3 =2
# (3). Multiplication(*) ----> 5*2 = 10
# (4). Division(/) ---> 5/2 = 2.5
# (5). Floor Division(//) ---> 5//2
# (6). Module(%) ---> FOr Remainder Calculation ---> 25%10 = 5
# (7). Equal to (=) ---> for values assignment ---> a = 5
# (8). Equal Equal to(==) ---> for values comparison ---> 'sam'=='mohit'
# (9). Not Equal to(!=) ---> Not Equal to ---> 'sam'!='Mohit'
# (10). Greater thna (>) ---> 5>4
# (11). Less than (<) ---> 3<5
# (12). Greater than or Equal to (>=) ---> 5>=5
# (13). Less than or Equal to (<=) ---> 4<=5
# (14). Power(**) ---> 2**3 = 8

In [21]:
# # Conditional Statement in python

# if

# elif           user_query

# else

In [25]:
a = input("Enter name:")
if(a=='sam'):
  print('yes')
elif(a=='raj'):
  print('no')
else:
  print('try again...')

Enter name:rahul
try again...

In [26]:
# Q.2 Write a program who tell user is child , young or old .

In [30]:
a = int(input("Enter Number:"))
if(0<=a<=20):
  print("child")
elif(21<=a<=50):
  print("young")
elif(51<=a<=90):
  print("old")
else:
  print("Please enter valid age.....")

Enter Number:1001
Please enter valid age.....

In [31]:
# Q.3

In [39]:
print("Pizaa-100 , Burgur-50 , Juice-20 , Biryani-100")
a = input("Enter your yummy item.....")

if (a == 'Biryani'):
  b = int(input("Enter total quantity:"))
  print("Your yummy item is Biryani.")
  c = b*100
  if (c>1000):
    print("Your 10% discounted price is" , c-(c*10/100))
  else:
      print("Your total bill is :" , c)

Pizaa-100 , Burgur-50 , Juice-20 , Biryani-100
Enter your yummy item.....Biryani
Enter total quantity:15
Your yummy item is Biryani.
Your 10% discounted price is 1350.0