<a href="https://colab.research.google.com/github/anilmeena009/Anil-Meena.py/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

x=10
print("value of x", x, id(x))
a=x
print("value of a",a,id(a))
a=12
print("value of a",a,id(a))

value of x 10 10751144
value of a 10 10751144
value of a 12 10751208

In [ ]:
for i in range(1,5):
  print("student ",i)
  for j in range(12,0,-2):
     print("student==>",j)

student  1
student==> 12
student==> 10
student==> 8
student==> 6
student==> 4
student==> 2
student  2
student==> 12
student==> 10
student==> 8
student==> 6
student==> 4
student==> 2
student  3
student==> 12
student==> 10
student==> 8
student==> 6
student==> 4
student==> 2
student  4
student==> 12
student==> 10
student==> 8
student==> 6
student==> 4
student==> 2

In [ ]:
for i in range(1,5):
  print("student ",i)
  for j in range(5,i-1,-1):
     print("subject==>",j)

student  1
subject==> 5
subject==> 4
subject==> 3
subject==> 2
subject==> 1
student  2
subject==> 5
subject==> 4
subject==> 3
subject==> 2
student  3
subject==> 5
subject==> 4
subject==> 3
student  4
subject==> 5
subject==> 4